@import './utils/vars' ;
@import './base/base' ;
@import './component/logo' ;
@import './component/heder';
@import './component/buttons'; 
@import './component/section';
@import './component/socialmedia';
@import './component/footer';
@import './component/modal';
@import './component/portfolio';