 /* buttons */

 .button {
     width: 200px;
     height: 50px;

     display: inline-flex;
     align-items: center;
     justify-content: center;

     font-family: inherit;
     font-weight: 700;
     font-size: 16px;
     line-height: 1.88;
     letter-spacing: 0.06em;

     border: none;
     border-radius: 4px;
     cursor: pointer;
     color: var(--secondary-title-color);
     background-color: var(--accent-color);
     transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
         box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
            background-color: var(--active-button);
        }
 }

 .button__icon {
     fill: var(--secondary-title-color);
     margin-left: 10px;
 }

 
 .close-button {
     position: absolute;
     right: 8px;
     top: 8px;

     width: 30px;
     height: 30px;
     background-color: var(--base-backgroud-color);
     border: 1px solid var(--close-button-border);
     border-radius: 50%;
     transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
     cursor: pointer;

    &:hover,
    &:focus {
            background-color: var(--base-backgroud-color);
            fill: var(--accent-color);
            box-shadow: none;}
 }

 

 .modal-button-position {
     display: flex;
     align-items: center;
     justify-content: center;
 }

 .portfolio-button__list {
     display: flex;
     justify-content: center;
     list-style: none;
     padding-bottom: 50px;
     gap: 8px;
 }

 .portfolio-button {
     display: inline-block;
     padding: 6px 25px;

     font-weight: 500;
     font-size: 16px;
     line-height: 1.62;
     text-align: center;
     letter-spacing: 0.03em;
     color: var(--title-color);
     background-color: var(--third-background-color);
     border: none;
     border-radius: 4px;
     cursor: pointer;

     transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
         background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
         box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover,
    &:focus {
            color: var(--secondary-title-color);
            background-color: var(--accent-color);
            box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);}
 }

 