 /* footer */

 .footer {
     padding: 60px 0;

     text-align: center;

     background-color: var(--secondary-background-color);
 }
.footer-contact {
    @media screen and (max-width:1190px) {
        margin-bottom: 60px;
    }
    
}

 .footer-contact__list {
     display: inline-block;
     list-style: none;
    @media screen and (min-width:1200px) {
            text-align: left;
        }
 }

 .footer-contact__item {
     margin-bottom: 9px;

    &:last-child {
    margin-bottom: 0;}
 }



 .footer-contact__link {
     text-decoration: none;
     font-style: normal;
     color: var(--secondary-text-color);
     transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &--addres {
            color: var(--secondary-title-color);}
    &:hover,
    &:focus {
            color: var(--accent-color);}
 }

 .container.footer-position {
    @media screen and (min-width:1200px) {
            display: flex;
            align-items: baseline;       
        }
   
 }

 .footer-position__tablet {
    @media screen and (min-width:768px) and (max-width:1199px) {
        display: flex;
        align-items: baseline;
        justify-content: space-around;
    }

    @media screen and (min-width:1200px) {
        display: flex;
        align-items: baseline;
        gap: 70px;
    }
 }

  .footer-socialmedia {
      @media screen and (max-width:1190px) {
          margin-bottom: 60px;
      }
  }

 .footer-form {
     margin-left: auto;
 }

 .form {
    @media screen and (min-width:1200px) {
            display: flex;
            gap: 12px;
    
        }
 }

 .footer-form__title {
     margin-bottom: 20px;

     font-weight: 700;
     font-size: 14px;
     line-height: 1.14;
     letter-spacing: 0.03em;
     text-transform: uppercase;
     color: var(--secondary-title-color);
    @media screen and (min-width:1200px) {
        text-align: left;
    }
 }

 .form__lable {
 }

 .form__input {
     width: 100%;
     height: 50px;

    margin-bottom: 20px;

     padding-left: 16px;
     padding-right: 16px;
     border: 1px solid var(--footer-form-border);
     border-radius: 4px;
     background-color: var(--secondary-background-color);
     color: var(--secondary-title-color);
     transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
     &:focus {
            outline: none;
            border: 1px solid var(--accent-color);}
    &::placeholder {
            font-size: 16px;
            line-height: 1.25;
            letter-spacing: 0.03em;
    
            color: var(--secondary-text-color);}

    @media screen and (min-width:768px) {
        width: 450px;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    @media screen and (min-width:1200px) {
        width: 358px;
        
    }
    
 }