 /* Модальное окно */

 .backdrop {
     position: fixed;
     top: 0;
     left: 0;
     width: 100%;
     height: 100%;

     background: var(--backdrop);
     opacity: 1;
     transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);

 }

 .backdrop.is-hidden {
     visibility: visible;
     opacity: 0;
     pointer-events: none;
 }

 .backdrop.is-hidden .modal {
     transform: translate(-50%, -50%) translatey(50%);
 }

 .modal {
     position: absolute;
     top: 50%;
     left: 50%;

    
    

     background: var(--base-backgroud-color);
     box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
     border-radius: 4px;
     transform: translate(-50%, -50%) translatey(0);
     transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

     @media screen and (min-width:480px) {
        min-width: 450px;
        min-height: 609px;
     }
     @media screen and (min-width:1200px) {
        width: 528px;
        height: 581px;
     }

 }

 .modal__form {
     padding: 40px;
 }

 .modal__title {
     display: block;
     margin-bottom: 12px;
     font-weight: 700;
     font-size: 20px;
     line-height: 1.15;
     text-align: center;
     letter-spacing: 0.03em;

     color: var(--title-color);
 }



 .modal__label {
     display: block;
     margin-top: 10px;
 }

 .modal__title+.modal__label {
     margin-top: 0;
 }

 .modal__input {
     display: block;
     width: 100%;
     height: 40px;
     padding-left: 42px;
     padding-right: 42px;
     border: 1px solid var(--modal-input-border);
     border-radius: 4px;
     transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);

    .modal__label:focus-within & {
            outline: none;
            border: 1px solid var(--accent-color);
        }
 }

 .input-position {
     position: relative;
 }

 .modal__icon {
     position: absolute;
     top: 50%;
     left: 12px;
     transform: translateY(-50%);
     transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

    .modal__label:focus-within & {
            fill: var(--accent-color);}
 }

 .modal__input--textarea {
     resize: none;
     height: 120px;
     padding: 12px 16px;
    
     &::placeholder {
        font-weight: 400;
        font-size: 12px;
        line-height: 1.16;
        letter-spacing: 0.01em;

        color: var(--modal-textarea-placrholder);}
 }

 

 .modal-checkbox {
     position: relative;
     display: flex;
     align-items: center;
     justify-content: center;

    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.03em;
    text-align: center;

     margin-top: 20px;
     margin-bottom: 30px;

     @media screen and (min-width:1200px) {
        font-size: 14px;
        line-height: 1.71;
     }
 }

 .modal-checkbox__input {
     position: absolute;
     width: 1px;
     height: 1px;
     margin: -1px;
     border: 0;
     padding: 0;

     white-space: nowrap;
     clip-path: inset(100%);
     clip: rect(0 0 0 0);
     overflow: hidden;
 }

 .modal-checkbox__icon--check,
 .modal-checkbox__icon {
     position: absolute;
     top: 50%;
     left: 0;
     transform: translateY(-50%);
    
    @media screen and (min-width:1200px) {
        left: 5px;
        }

 }

 .modal-checkbox__icon--check {
     opacity: 0;
     transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
 }

 .modal-checkbox__input:checked~.modal-checkbox__icon--check {
     opacity: 1;
 }

 .modal-checkbox__input:checked~.modal-checkbox__icon {
     opacity: 0;
 }

 .modal-checkbox__link {
     position: relative;
     text-decoration: none;
     display: block;
     margin-left: 5px;
     color: var(--accent-color);
    font-size: 12px;
        line-height: 1.16;
        letter-spacing: 0.03em;

     &::after {
            content: "";
            position: absolute;
            left: 0;
            bottom: 0;
            width: 100%;
            height: 1px;
            background-color: var(--accent-color);
            @media screen and (min-width:1200px) {
                bottom: 5px;
                }
        }

    @media screen and (min-width:1200px) {
    font-size: 14px;
    line-height: 1.71;
    }
 }


