 /* section */
.container {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;

    @media screen and (min-width: 480px) {
        width: 480px;
    }

    @media screen and (min-width: 768px) {
            width: 768px;
        }

    @media screen and (min-width: 1200px) {
            width: 1200px;
        }
}
 
 .section {
    @media screen and (max-width: 1999px) {
        padding-top: 60px;
        padding-bottom: 60px;
    }


    @media screen and (min-width: 1200px) {
        padding-top: 94px;
        padding-bottom: 94px;
    }
     
 }

 /* hero */

 .section__hero {
     max-width: 1600px;
     margin-left: auto;
     margin-right: auto;
     text-align: center;
     background-color: var(--secondary-background-color);
     background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/bcg-img.jpg);
     background-size: cover;
     background-repeat: no-repeat;
     background-position: center;

     @media screen and (max-width: 1999px) {
        height: 400px;
        padding-top: 118px;
        padding-bottom: 118px;
     }

    @media screen and (min-width: 1200px) {
            height: 600px;
            padding-top: 200px;
            padding-bottom: 200px;
        }

 }

 .hero__title {
     margin-left: auto;
     margin-right: auto;
     margin-bottom: 30px;

     font-weight: 900;
     text-align: center;
     letter-spacing: 0.06em;
     text-transform: uppercase;

     color: var(--secondary-title-color);

    @media screen and (max-width: 1999px) {
        max-width: 360px;
        font-size: 26px;
        line-height: 1.62;
    }
    @media screen and (min-width: 1200px) {
            max-width: 692px;
            font-size: 44px;
            line-height: 1.36;
    }

 }

 .section__title {
     margin-bottom: 50px;

     font-weight: 700;
     font-size: 36px;
     line-height: 1.16;
     text-align: center;
     letter-spacing: 0.03em;
     color: var(--title-color);

     
 }

 .section__subtitle {
     margin-bottom: 10px;

     font-weight: 700;
     font-size: 14px;
     line-height: 1.14;
     letter-spacing: 0.03em;
     text-transform: uppercase;
     color: var(--title-color);

    @media screen and (max-width: 767px) {
            text-align: center;
        }
 }

 .section__list {
     
     list-style: none;
    

     @media screen and (min-width:1200px) {
        display: flex;
        gap: 30px;
     }
 }

 .section__item {
     position: relative;
 }

 .section__icon {
     display: flex;
     align-items: center;
     justify-content: center;
     height: 120px;
     margin-bottom: 30px;
     background-color: var(--third-background-color);
     border-radius: 4px;

 }

 .section-development {
     padding-top: 0;

    @media screen and (max-width: 767px) {
        display: none;
    }
 }

 .section-development__text {
     position: absolute;
     bottom: 0;
     left: 0;

     width: 100%;
     height: 70px;
     display: flex;
     align-items: center;
     justify-content: center;

     font-weight: 700;
     font-size: 14px;
     line-height: 1.14;
     letter-spacing: 0.03em;
     text-transform: uppercase;
     color: var(--secondary-title-color);
     background-color: var(--services-bgc);


 }

 .section-worker {
     background-color: var(--third-background-color);
 }

 .section-worker__title {
     margin-top: 30px;
     margin-bottom: 10px;

     font-weight: 500;
     font-size: 16px;
     line-height: 1.19;
     letter-spacing: 0.03em;
     color: var(--title-color);
 }

 .section-worker__item {
    text-align: center;
    padding-bottom: 30px;

    background-color: var(--base-backgroud-color);

    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;

    @media screen and (max-width: 767px) {
        margin-bottom: 30px;
    }
 }

 .section-worker__text {
     margin-bottom: 16px;
     font-size: 16px;
     line-height: 1.18;
     letter-spacing: 0.03em;
 }

.client__list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}
.clietn__item {
    @media  screen and (max-width:767px) {
        width: calc((100% - 30px)/2);
    }
    @media screen and (min-width:768px) and (max-width:1199px) {
        width: calc((100% - 60px)/3);
        }

}


 .section__link {
     display: flex;
     justify-content: center;
     align-items: center;
     max-width: 210px;
     height: 92px;
     text-decoration: none;
     border: 1px solid var(--icon-color);
     border-radius: 4px;
     fill: var(--icon-color);
     transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1),
         border 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover,
    &:focus {
        fill: var(--accent-color);
        border: 1px solid var(--accent-color);}


    
    @media screen and (min-width:768px) {
            max-width: 226px;
        }
    @media screen and (min-width:1200px) {
        width: 170px;
    }
 }

